<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <img
            src="{{ site.baseurl }}/assets/img/profile.jpeg"
            alt=""
            class="rounded-circle border"
            height="200"
        />
        <h1 class="mb-1">Ananto Joyoadikusumo</h1>
        <h3 class="mb-5">
            <em>
                <div>
                    ML & Data Science Enthusiast | Student | Part-Time DBA &
                    Writer
                </div>
            </em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
            >About Me</a
        >
    </div>
    <div class="overlay"></div>
</header>
